<mat-card class="container">
  <div class="header">
    <h1>NORMATIVA SABER Y LUCHAR 25/26</h1>
  </div>
  <div class="content">
  <h2>1. Fases de la Competición</h2>
  <p>La competición Saber y Luchar 2025/2026 se compone de tres torneos independientes, que
    a su vez suman a una Clasificación General:</p>
  <ul>
    <li>Liga Insular</li>
    <li>Liga Regional</li>
    <li>Copa Regional</li>
  </ul>

  <h3>1.1 Liga Insular</h3>
  <p>Tiene lugar durante el desarrollo de las ligas insulares de primera categoría en La Palma,
    Tenerife, Gran Canaria y Fuerteventura.</p>
  <p>Se computan todos los encuentros semanales de dichas ligas. Al término del torneo se proclama
    un vencedor.</p>

  <h3>1.2 Liga Regional</h3>
  <p>Coincide con el calendario de la Liga Disa Gobierno de Canarias de primera categoría.</p>
  <p>Se incluyen todos los enfrentamientos semanales, y se declara un ganador al final del torneo.</p>

  <h3>1.3 Copa Regional</h3>
  <p>Se disputará con el comienzo de la segunda vuelta de la fase de grupos de la Liga Disa Gobierno
    de Canarias de primera categoría.</p>
  <p>En el momento de inicio de la Copa Regional se generará el cuadro, teniendo en cuenta las posiciones de
    la Clasificación General:</p>
  <ul>
    <li>1º vs 8º</li>
    <li>2º vs 7º</li>
    <li>3º vs 4º</li>
    <li>5º vs 6º</li>
  </ul>
  <p>Las eliminatorias serán a ida y vuelta, contabilizando los puntos obtenidos en las
    correspondientes jornadas de la Liga Regional.<br>La suma de ambas jornadas determinará
    al ganador de la eliminatoria.<br>En caso de empate a puntos, avanzará el mejor
    clasificado al inicio del torneo.
  </p>
  <p>Entre los derrotados en las semifinales se disputará una eliminatoria para
    dirimir el tercer puesto del torneo.</p>
  <p>La Copa Regional otorgará los siguientes premios:</p>
  <ul>
    <li>Primer Clasificado: 20 puntos para la Clasificación General</li>
    <li>Segundo Clasificado: 10 puntos para la Clasificación General</li>
    <li>Tercer Clasificado: 5 puntos para la Clasificación General</li>
  </ul>

  <h3>1.4 Clasificación General</h3>
  <p>Es la suma total de puntos obtenidos en la Liga Insular, la Liga Regional y los premios de
    la Copa Regional.</p>
  <p>El ganador final será quien demuestre mayor conocimiento y regularidad a lo largo de toda la
    temporada.</p>

  <h2>2. Sistema de Competición</h2>
  <p>Cada lunes se enviará un formulario con todas las luchas programadas para esa semana.</p>
  <p>El formulario incluirá un campo adicional para seleccionar una "lucha con puntuación
    doble".</p>
  <p>
    El plazo para enviar el formulario finaliza los miércoles a las 23:59 (hora canaria).<br>
    En caso de no enviarlo a tiempo, el participante dispondrá de una prórroga hasta el jueves
    siguiente a las 15:00 (hora canaria).<br>
    Esta prórroga podrá aplicarse como máximo en tres ocasiones durante toda la temporada.<br>
    A partir de la cuarta vez, cualquier envío fuera de plazo no será válido para el cómputo de
    la jornada.
  </p>

  <h3>2.1 Luchas anuladas o modificadas</h3>
  <p>Una lucha no se tendrá en cuenta si ocurre alguna de estas circunstancias:</p>
  <ul>
    <li>Suspensión del encuentro</li>
    <li>Cambio de localía</li>
    <li>Alineación indebida</li>
  </ul>
  <p>Si se suspende una lucha y se reprograma, se incluirá en la jornada correspondiente a
    su nueva fecha.</p>
  <p>Si hay alineación indebida y se ratifica por la federación, la lucha se anula y los
    puntos obtenidos se descuentan.</p>

  <h3>2.2 Selección de lucha doble</h3>
  <p>Habrá lucha doble si la jornada consta de una o más luchas a expeción de finales.</p>
  <p>La lucha doble será la más votada por los participantes.</p>
  <p>En caso de empate, el administrador tendrá la postestad de decidir entre las más votadas.</p>

  <h3>2.3 Puntuación</h3>
  <table>
    <thead>
      <tr>
        <th>Acierto</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ganador</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Ganador en lucha doble</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Resultado exacto</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Resultado exacto en lucha doble</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Empate</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Empate en lucha doble</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>

  <h3>2.4 Criterios de desempate</h3>
  <ol>
    <li>Mayor número de aciertos al resultado exacto.</li>
    <li>Mayor puntuación acumulada en luchas dobles.</li>
    <li>Mayor puntuación en la Clasificación Histórica.</li>
    <li>Mayor número de aciertos al resultado exacto en la Clasificación Histórica.</li>
    <li>Mayor puntuación acumulada en luchas dobles en la Clasificación Histórica.</li>
    <li>Si persiste el empate, se podrá hacer sorteo o lucha de desempate, si los implicados
      están de acuerdo.</li>
  </ol>

  <h2>3. Premios</h2>
  <p>En la comida de final de temporada se entregarán trofeos a los campeones de la Liga Insular,
    Liga Regional y Clasificación General.</p>
  <p>El administrador se encargará de la adquisición de los trofeos, y posteriormente el coste de
    los mismos se dividirá de la siguiente manera:</p>
  <ul>
    <li>Cuarto Clasificado (Clasificación General): 8,9% del coste total</li>
    <li>Quinto Clasificado (Clasificación General): 12,6% del coste total</li>
    <li>Sexto Clasificado (Clasificación General): 17,8% del coste total</li>
    <li>Séptimo Clasificado (Clasificación General): 25,2% del coste total</li>
    <li>Octavo Clasificado (Clasificación General): 35,6% del coste total</li>
  </ul>
  <p>Los ganadores de la Liga Insular y Liga Regional en ningún caso tendrán participar
    en el coste de los trofeos.<br>En caso de quedar por debajo del tercer puesto en la
    Clasificación General, el coste recaerá sobre el participante peor clasificado que no
    haya ganado ningún trofeo.
  </p>
  <p>Si algún participante resultara ganador de varios trofeos, quedará exento de pago el
    participante mejor clasificado que no haya obtenido ninguno, garantizando así que siempre
    existan tres participantes exentos de pago.
  </p>

  </div>
</mat-card>
