<mat-card class="container">
  <div class="header">
    <h1>BIENVENIDO PUNTAL 💪🥇</h1>
  </div>

  <div class="content">
    <p><strong>SABER Y LUCHAR</strong> es la aplicación pensada para todos los amantes de la lucha canaria.
      Aquí podrás:</p>
    <ul>
      <li>Consultar las plantillas de los equipos.</li>
      <li>Acceder a la normativa oficial de la competición.</li>
      <li>Revisar en cualquier momento las clasificaciones actualizadas.</li>
      <li>Hacer seguimiento en directo de la Liga Insular, la Liga Regional y la Copa Regional.</li>
    </ul>

    <div class="carousel">
      <div class="slides">
        <img src="assets/images/eusebio.jfif" alt="EUSEBIO">
        <img src="assets/images/mamadou.jfif" alt="MAMADOU">
        <img src="assets/images/agarrada.jfif" alt="AGARRADA">
      </div>
    </div>

    <h2>ENLACES INTERESANTES</h2>
    <div class="links">
      <a href="https://www.fedluchacanaria.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/regional.png" alt="FEDERACIÓN REGIONAL">
      </a>
      <a href="http://flcgrancanaria.com/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/grancanaria.jfif" alt="FEDERACIÓN GRAN CANARIA">
      </a>
      <a href="https://www.fdlctenerife.es/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tenerife.jfif" alt="FEDERACIÓN TENERIFE">
      </a>
      <a href="https://www.facebook.com/share/1CFB9Xq2vV/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/lapalma.png" alt="FEDERACIÓN LA PALMA">
      </a>
      <a href="https://www.facebook.com/share/1PkdrD9G9Q/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/fuerteventura.jfif" alt="FEDERACIÓN FUERTEVENTURA">
      </a>
      <a href="https://www.facebook.com/share/17RRSEAGip/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tedote.png" alt="TEDOTE">
      </a>
      <a href="https://www.facebook.com/share/1J15gG6sSt/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/candelaria.png" alt="CANDELARIA">
      </a>
      <a href="https://www.facebook.com/share/16rvNrZi5E/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tazacorte.png" alt="TAZACORTE">
      </a>
      <a href="https://www.facebook.com/share/1GFvBcgBhY/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/aridane.png" alt="ARIDANE">
      </a>
      <a href="https://www.facebook.com/share/1Cv9Pp6SaP/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/bediesta.png" alt="BEDIESTA">
      </a>
      <a href="https://www.facebook.com/share/1DKXdwwNYP/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tamanca.png" alt="TAMANCA">
      </a>
      <a href="https://www.facebook.com/share/1GDUZDrGtt/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/rosariovg.png" alt="ROSARIO VG">
      </a>
      <a href="https://www.facebook.com/share/16jy6Q2J39/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/guamasa.png" alt="GUAMASA">
      </a>
      <a href="https://www.facebook.com/share/1E52iMmRDP/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tegueste.png" alt="TEGUESTE">
      </a>
      <a href="https://www.facebook.com/share/17QD67uVVw/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/victoria.png" alt="VICTORIA">
      </a>
      <a href="https://www.facebook.com/C.L.Chimbesque" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/chimbesque.png" alt="CHIMBESQUE">
      </a>
      <a href="https://www.instagram.com/clcampitos?igsh=YmxocWJwMDVqdTd2" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/campitos.png" alt="CAMPITOS">
      </a>
      <a href="https://www.instagram.com/clcastromorales?igsh=azBiaDFieTAycThp" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/castro.png" alt="CASTRO MORALES">
      </a>
      <a href="https://www.facebook.com/share/19fYFXLa2s/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/almogaren.png" alt="ALMOGARÉN">
      </a>
      <a href="https://www.facebook.com/share/1Arv9n7R2D/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/galdar.png" alt="UNIÓN GÁLDAR">
      </a>
      <a href="https://www.facebook.com/share/1BA4F3EeRy/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/castillo.png" alt="CASTILLO">
      </a>
      <a href="https://www.facebook.com/share/16zGkG1Bcw/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/maxorata.png" alt="MAXORATA">
      </a>
      <a href="https://www.facebook.com/share/177dxqrn3N/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tetir.png" alt="UNIÓN TETIR">
      </a>
      <a href="https://www.facebook.com/share/1CJw1oHHdL/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/antigua.png" alt="UNIÓN ANTIGUA">
      </a>
      <a href="https://www.facebook.com/share/16ztVMmrLw/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/rosarioftv.png" alt="ROSARIO FTV">
      </a>
      <a href="https://www.facebook.com/share/1PQA6UfKHh/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/saladar.png" alt="SALADAR">
      </a>
    </div>
  </div>
</mat-card>
