<mat-card class="container">
  <div class="header">
    <h1>NORMATIVA SABER Y LUCHAR</h1>
  </div>
  <div class="content">
  <h2>1. Fases de la Competición</h2>
  <p>La competición Saber y Luchar se compone de tres torneos independientes, que
    a su vez suman a una Clasificación General:</p>
  <ul>
    <li>Liga Insular</li>
    <li>Liga Regional</li>
    <li>Copa Regional</li>
  </ul>

  <h3>1.1 Liga Insular</h3>
  <p>Tiene lugar durante el desarrollo de las ligas insulares de primera categoría en La Palma,
    Tenerife, Gran Canaria y Fuerteventura.</p>
  <p>Se computan todos los encuentros semanales de dichas ligas. Al término del torneo se proclama
    un vencedor.</p>

  <h3>1.2 Liga Regional</h3>
  <p>Coincide con el calendario de la Liga Disa Gobierno de Canarias de primera categoría.</p>
  <p>Se incluyen todos los enfrentamientos semanales, y se declara un ganador al final del torneo.</p>

  <h3>1.3 Copa Regional</h3>
  <p>Se disputará con el comienzo de la segunda vuelta de la fase de grupos de la Liga Disa Gobierno
    de Canarias de primera categoría.</p>
  <p>En el momento de inicio de la Copa Regional se generará el cuadro, teniendo en cuenta las posiciones de
    la Clasificación General:</p>
  <ul>
    <li>1º vs 8º</li>
    <li>2º vs 7º</li>
    <li>3º vs 4º</li>
    <li>5º vs 6º</li>
  </ul>
  <p>Las eliminatorias serán a ida y vuelta, contabilizando los puntos obtenidos en las
    correspondientes jornadas de la Liga Regional.<br>La suma de ambas jornadas determinará
    al ganador de la eliminatoria.<br>En caso de empate a puntos, avanzará el mejor
    clasificado al inicio del torneo.
  </p>
  <p>Entre los derrotados en las semifinales se disputará una eliminatoria para
    dirimir el tercer puesto del torneo.</p>
  <p>La Copa Regional otorgará los siguientes premios:</p>
  <ul>
    <li>Primer Clasificado: 20 puntos para la Clasificación General</li>
    <li>Segundo Clasificado: 10 puntos para la Clasificación General</li>
    <li>Tercer Clasificado: 5 puntos para la Clasificación General</li>
  </ul>

  <h3>1.4 Clasificación General</h3>
  <p>Es la suma total de puntos obtenidos en la Liga Insular, la Liga Regional y los premios de
    la Copa Regional.</p>
  <p>El ganador final será quien demuestre mayor conocimiento y regularidad a lo largo de toda la
    temporada.</p>

  <h2>2. Puntuación</h2>
  <table>
    <thead>
      <tr>
        <th>Acierto</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ganador</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Ganador en lucha doble</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Resultado exacto</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Resultado exacto en lucha doble</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Empate</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Empate en lucha doble</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>

  <h2>3. Criterios de desempate</h2>
  <ol>
    <li>Mayor número de aciertos al resultado exacto.</li>
    <li>Mayor puntuación acumulada en luchas dobles.</li>
    <li>Mayor puntuación en la Clasificación Histórica.</li>
    <li>Mayor número de aciertos al resultado exacto en la Clasificación Histórica.</li>
    <li>Mayor puntuación acumulada en luchas dobles en la Clasificación Histórica.</li>
  </ol>

  </div>
</mat-card>
